Source: qpid-proton
Section: libs
Priority: optional
Maintainer: Debian Middleware Maintainers <pkg-middleware-maintainers@lists.alioth.debian.org>
Uploaders: Irina Boverman <iboverma@redhat.com>, Daniel Pocock <daniel@pocock.pro>
Build-Depends: debhelper (>= 9.0.0~),
               dh-python,
               gcc (>=4:5.3.1-1~),
               g++ (>=4:5.3.1-1~),
               cmake,
	       swig,
	       pkg-config,
	       doxygen,
	       uuid-dev,
               libssl-dev,
               libsasl2-2,
               libsasl2-modules,
               libsasl2-dev,
               cyrus-dev-2.4,
	       python-epydoc,
               python-all-dev,
               python-setuptools,
               python3-all-dev,
               python3-setuptools,
               python (>= 2.6.6-3~),
               python-dev (>= 2.6.6-3~),
               python3 (>= 3.2~),
               python3-dev (>= 3.2~)
Standards-Version: 3.9.7
Homepage: http://qpid.apache.org/proton
Vcs-Browser: http://git.debian.org/?p=pkg-middleware/qpid-proton.git
Vcs-Git: git://git.debian.org/git/pkg-middleware/qpid-proton.git

Package: libqpid-proton11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: C libraries for Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides the shared libraries for Qpid Proton.

Package: libqpid-proton11-dev
Provides: libqpid-proton-dev
Replaces: libqpid-proton-dev
Conflicts: libqpid-proton-dev
Architecture: any
Section: libdevel
Depends: libqpid-proton11 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Development libraries for writing messaging apps with Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides the C development libraries for Qpid Proton.

Package: libqpid-proton11-dev-examples
Provides: libqpid-proton-dev-examples
Replaces: libqpid-proton-dev-examples
Conflicts: libqpid-proton-dev-examples
Architecture: all
Section: libdevel
Depends: libqpid-proton11-dev (>= ${binary:Version}), ${misc:Depends}
Description: Example applications for writign messaging apps with Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides C language examples for Qpid Proton.

Package: libqpid-proton11-dev-doc
Provides: libqpid-proton-dev-doc
Replaces: libqpid-proton-dev-doc
Conflicts: libqpid-proton-dev-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Developer documentation for Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides C developer documentation for Qpid Proton.

Package: libqpid-proton-core10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: C core library for Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides core shared library for Qpid Proton.

Package: libqpid-proton-proactor1
Architecture: any
Depends: libqpid-proton-core10 (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: C proactor library for Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides proactor shared library for Qpid Proton.

Package: libqpid-proton-cpp11
Architecture: any
Depends: libqpid-proton-core10 (>= ${binary:Version}), libqpid-proton-proactor1 (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: C++ libraries for Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides the shared libraries for Qpid Proton.

Package: libqpid-proton-cpp11-dev
Provides: libqpid-proton-cpp-dev
Replaces: libqpid-proton-cpp-dev
Conflicts: libqpid-proton-cpp-dev
Architecture: any
Section: libdevel
Depends: libqpid-proton-cpp11 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Development libraries for writing messaging apps in C++ with Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides the C development libraries for Qpid Proton.

Package: libqpid-proton-cpp11-dev-examples
Provides: libqpid-proton-cpp-dev-examples
Architecture: all
Section: libdevel
Depends: libqpid-proton-cpp11-dev (>= ${binary:Version}), ${misc:Depends}
Description: Example applications for writign messaging apps in C++ with Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides C language examples for Qpid Proton.

Package: libqpid-proton-cpp11-dev-doc
Provides: libqpid-proton-cpp-doc
Replaces: libqpid-proton-cpp-doc
Conflicts: libqpid-proton-cpp-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Developer documentation for Qpid Proton C++
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides C developer documentation for Qpid Proton.

Package: python-qpid-proton
Architecture: any
Section: python
X-Python-Version: >= 2.6.6
Depends: libqpid-proton11,
         ${python:Depends},
         python (>= 2.6),
         ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Python language bindings for Qpid Proton messaging framework
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides Python language bindings for Qpid Proton.

Package: python-qpid-proton-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Documentation for the Python language bindings for Qpid Proton
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides documentation for the Python language bindings for
 Qpid Proton.

Package: python3-qpid-proton
Architecture: any
Section: python
X-Python3-Version: >= 3.2
Depends: libqpid-proton11,
         ${python3:Depends},
         ${shlibs:Depends}, ${misc:Depends}
Provides: ${python3:Provides}
Description: Python 3 language bindings for Qpid Proton messaging framework
 Qpid Proton is a high-performance, lightweight messaging library. It can be
 used in the widest range of messaging applications, including brokers, client
 libraries, routers, bridges, proxies, and more. Proton makes it trivial to
 integrate with the AMQP 1.0 ecosystem from any platform, environment, or
 language.
 .
 This package provides Python 3 language bindings for Qpid Proton.
